<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.4.4" />
  <package id="jQuery.Templates" version="0.1" />
  <package id="knockoutjs" version="1.2.0" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="CodeContracts.Unofficial" version="1.0.0.2" />
  <package id="Facebook" version="5.0.25.0" />
  <package id="FacebookWeb" version="5.0.25.0" />
  <package id="FacebookWebMvc" version="5.0.25.0" />
</packages>